[package]
name = "openmls"
version = "0.4.1"
authors = ["OpenMLS Authors"]
edition = "2021"
description = "This is a WIP Rust implementation of the Messaging Layer Security (MLS) protocol based on draft 12+."
license = "MIT"
documentation = "https://openmls.github.io/openmls/"
repository = "https://github.com/openmls/openmls/"
readme = "../README.md"

[dependencies]
openmls_traits = { version = "0.1.0", path = "../traits" }
uuid = { version = "1.0", features = ["v4"] }
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
log = { version = "0.4", features = ["std"] }
typetag = "0.1"
tls_codec = { version = "0.2.0", features = ["derive", "serde_serialize"] }
# Only required for tests.
rand = { version = "0.8", optional = true }
# The js feature is required for wasm.
# We enable the feature here because other dependencies need getrandom.
getrandom = { version = "0.2", features = ["js"] }
# Crypto backends required for KAT and testing - "test-utils" feature
itertools = { version = "0.10", optional = true }
openmls_rust_crypto = { version = "0.1.0", path = "../openmls_rust_crypto", optional = true }
openmls_evercrypt = { version = "0.1.0", path = "../evercrypt_backend", optional = true }
rstest = {version = "^0.13", optional = true}
rstest_reuse = {version = "0.3", optional = true}
rayon = "^1.5.0"
thiserror = "^1.0"
backtrace = "0.3"

[features]
default = []
crypto-subtle = [] # Enable subtle crypto APIs that have to be used with care.
test-utils = ["itertools", "openmls_rust_crypto", "rand", "rstest", "rstest_reuse"]
evercrypt = ["openmls_evercrypt"] # Evercrypt needs to be enabled individually
crypto-debug = [] # ☣️ Enable logging of sensitive cryptographic information
content-debug = [] # ☣️ Enable logging of sensitive message content

[dev-dependencies]
criterion = "^0.3"
pretty_env_logger = "0.4"
itertools = "0.10"
openmls = { path = ".", features = ["test-utils"] }
tempfile = "3"
rstest = "^0.13"
rstest_reuse = "0.3"
backtrace = "0.3"
lazy_static = "1.4"

# x64 targets get evercrypt compiled into dev-dependencies.
[target.'cfg(target_arch = "x86_64")'.dev-dependencies.openmls]
path = "."
features = ["test-utils", "evercrypt"]

[[bench]]
name = "benchmark"
harness = false
