**/target
delivery-service/ds/target
**/*.rs.bk
.DS_Store
.vscode
**/Cargo.lock
*.code-workspace
/test_vectors/
fuzz/corpus
fuzz/artifacts
.cargo/

wasm_bench/out-*

# CLion IDE
.idea
*.iws
*.iml
*.ipr
