[package]
name = "maelstrom"
version = "0.2.0"
authors = ["Raphael Robert"]
edition = "2018"

[dependencies]
uuid = { version = "0.8", features = ["v4"] }
rayon = "^1.3"
rand = "^0.7"
byteorder = "^1.3"
lazy_static = "1.4"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
hpke = {git = "https://github.com/franziskuskiefer/hpke-rs", version = "0.0.2-dev2"}
evercrypt = { version = "0.0.3-dev3" }

[features]
default = ["rust-crypto"]
rust-crypto = ["evercrypt/rust-crypto-aes"]

[patch.crates-io]
evercrypt = { git = "https://github.com/franziskuskiefer/evercrypt-rust", package = "evercrypt" }
evercrypt-sys = { git = "https://github.com/franziskuskiefer/evercrypt-rust", package = "evercrypt-sys" }

[dev-dependencies]
criterion = "^0.2"

[[bench]]
name = "benchmark"
harness = false