[workspace]
members = [
    "openmls",
    "openmls_wasm",
    "traits",
    "openmls_rust_crypto",
    "fuzz",
    "cli",
    "interop_client",
    "memory_keystore",
    "delivery-service/ds",
    "delivery-service/ds-lib",
    "basic_credential", "openmls_wasm",
]
resolver = "2"

# Central dependency management for some crates
[workspace.dependencies]
tls_codec = { version = "0.4.0", features = ["derive", "serde", "mls"] }
