[package]
name = "openmls"
version = "0.2.0"
authors = ["Raphael Robert"]
edition = "2018"

[dependencies]
uuid = { version = "0.8", features = ["v4"] }
rand = "^0.7"
byteorder = "^1.3"
lazy_static = "1.4"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
hpke = {git = "https://github.com/franziskuskiefer/hpke-rs", version = "0.0.2", branch = "0.0.2", features = ["hazmat", "serialization"] }
evercrypt = { version = "0.0.3", features = ["serialization"] }

[features]
default = ["rust-crypto"]
rust-crypto = ["evercrypt/rust-crypto-aes"]

[patch.crates-io]
evercrypt = { git = "https://github.com/franziskuskiefer/evercrypt-rust", package = "evercrypt", branch = "0.0.3", features = ["serialization"] }
evercrypt-sys = { git = "https://github.com/franziskuskiefer/evercrypt-rust", package = "evercrypt-sys", branch = "0.0.3" }

[patch."https://github.com/franziskuskiefer/hpke-rs"]
hpke = { path = "../hpke-rs" }

[dev-dependencies]
criterion = "^0.2"

[[bench]]
name = "benchmark"
harness = false