[workspace]
members = [
    "openmls",
    "traits",
    "openmls_rust_crypto",
    "fuzz",
    "cli",
    "interop_client",
    "memory_keystore",
    "evercrypt_backend",
    "delivery-service/ds",
    "delivery-service/ds-lib",
    "basic_credential",
]
resolver = "2"

# Patching unreleased crates
[workspace.dependencies]
tls_codec = { version = "0.3.0-pre.2", features = ["derive", "serde", "mls"] }
openmls_traits = { version = "=0.2.0-dev.1", path = "traits" }

[patch.crates-io.hpke-rs]
git = "https://github.com/franziskuskiefer/hpke-rs.git"

[patch.crates-io.hpke-rs-crypto]
git = "https://github.com/franziskuskiefer/hpke-rs.git"

[patch.crates-io.hpke-rs-evercrypt]
git = "https://github.com/franziskuskiefer/hpke-rs.git"

[patch.crates-io.hpke-rs-rust-crypto]
git = "https://github.com/franziskuskiefer/hpke-rs.git"
