[package]
name = "openmls"
version = "0.3.0"
authors = ["Raphael Robert"]
edition = "2018"
description = "This is a WIP Rust implementation of the Messaging Layer Security (MLS) protocol based on draft 9+."
license = "MIT"
documentation = "https://openmls.github.io/openmls/"
repository = "https://github.com/openmls/openmls/"
readme = "README.md"

[workspace]
members = [
    ".",
    "delivery-service/ds-lib",
    "delivery-service/ds",
    "cli",
    "test_macros",
    "tls-codec",
    "tls-codec-derive",
    "interop_client",
]
default-members = [
    ".",
    "test_macros",
    "tls-codec",
]

[dependencies]
uuid = { version = "0.8", features = ["v4"] }
rand = "^0.8"
byteorder = "^1.3"
lazy_static = "1.4"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
tls-codec = { version = "0.1", path = "tls-codec", features = ["derive", "hpke"] }
log = { version = "0.4", features = ["std"] }
typetag = "0.1"
hpke = { version = "0.0.6", package = "hpke-rs", features = ["hazmat", "serialization"] }
evercrypt = { version = "0.0.8", features = ["serialization"] }
itertools = {version = "0.10", optional = true}

[features]
default = ["rust-crypto"]
rust-crypto = ["evercrypt/rust-crypto-aes"]
expose-test-vectors = ["itertools"]
crypto-debug = [] # ☣️ Enable logging of sensitive cryptographic information
content-debug = [] # ☣️ Enable logging of sensitive message content

[dev-dependencies]
criterion = "^0.3"
flexi_logger = "0.17"
pretty_env_logger = "0.4.0"
itertools = "0.10"
test_macros = { path = "test_macros" }
openmls = { path = ".", features = ["expose-test-vectors"] }

[[bench]]
name = "benchmark"
harness = false
