[workspace]
members = [
    "openmls",
    "traits",
    "openmls_rust_crypto",
    "fuzz",
    "cli",
    "interop_client",
    "memory_keystore",
    "evercrypt_backend",
    "delivery-service/ds",
    "delivery-service/ds-lib",
    "basic_credential"
]
resolver = "2"

# Patching unreleased crates
[patch.crates-io.tls_codec]
# git = "https://github.com/RustCrypto/formats.git"
path = "../rc-formats/tls_codec"

[patch.crates-io.hpke-rs]
git = "https://github.com/franziskuskiefer/hpke-rs.git"

[patch.crates-io.hpke-rs-crypto]
git = "https://github.com/franziskuskiefer/hpke-rs.git"

[patch.crates-io.hpke-rs-evercrypt]
git = "https://github.com/franziskuskiefer/hpke-rs.git"

[patch.crates-io.hpke-rs-rust-crypto]
git = "https://github.com/franziskuskiefer/hpke-rs.git"
