[package]
name = "openmls"
version = "0.2.0"
authors = ["Raphael Robert"]
edition = "2018"
description = "This is a WIP Rust implementation of the Messaging Layer Security (MLS) protocol based on draft 9+."
license = "MIT"
documentation = "https://openmls.github.io/openmls/"
repository = "https://github.com/openmls/openmls/"
readme = "README.md"

[dependencies]
uuid = { version = "0.8", features = ["v4"] }
rand = "^0.7"
byteorder = "^1.3"
lazy_static = "1.4"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
log = { version = "0.4", features = ["std"] }
typetag = "0.1"
hpke = { version = "0.0.2", package = "hpke-rs", features = ["hazmat", "serialization"] }
evercrypt = { version = "0.0.3", features = ["serialization"] }

[features]
default = ["rust-crypto"]
rust-crypto = ["evercrypt/rust-crypto-aes"]

[dev-dependencies]
criterion = "^0.3"
flexi_logger = "0.16"
pretty_env_logger = "0.4.0"

[[bench]]
name = "benchmark"
harness = false