[package]
name = "ds-lib"
version = "0.1.0"
authors = ["OpenMLS Authors"]
edition = "2018"
description = "Types to interact with the OpenMLS DS."

[dependencies]
tls_codec = { version = "0.2.0", features = ["derive", "serde"] }
openmls = { path = "../../openmls", features = ["test-utils"] }
openmls_traits = { path = "../../traits" }
openmls_rust_crypto = { path = "../../openmls_rust_crypto" }
openmls_memory_keystore = { path = "../../memory_keystore" }
