[package]
name = "ds-lib"
version = "0.1.0"
authors = ["Franziskus Kiefer <franziskuskiefer@gmail.com>"]
edition = "2018"
description = "Types to interact with the OpenMLS DS."

[dependencies]
openmls = { path = "../../openmls" }
