[package]
name = "interop_client"
version = "0.1.0"
authors = ["OpenMLS Authors"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
openmls = { path = "../openmls", features = ["test-utils"]}
openmls_rust_crypto = { path = "../openmls_rust_crypto" }
openmls_traits = { path = "../traits" }
tonic = "0.3"
prost = "0.6"
tokio = { version = "0.2", features = ["macros",  "net"] }
clap = "3.0.0-rc.0"
clap_derive = "3.0.0-rc.0"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
tls_codec = { version = "0.2.0", features = ["derive", "serde_serialize"] }
pretty_env_logger = "0.4"

[build-dependencies]
tonic-build = "0.3"
