name: Build & test workspace

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    if: github.repository == 'openmls/openmls'
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install dependencies
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get -y install protobuf-compiler
      - name: Install dependencies
        if: matrix.os == 'macos-latest'
        run: brew install protobuf
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Build workspace
        run: cargo build --workspace --all-targets --exclude openmls-fuzz
      - name: Test workspace
        run: cargo test --workspace --all-targets --exclude=openmls --exclude openmls-fuzz
      - name: Build workspace with `extensions-draft-08` feature
        run: cargo build --workspace -F extensions-draft-08 --all-targets --exclude openmls-fuzz
      - name: Test workspace with `extensions-draft-08` feature
        run: cargo test --workspace -F extensions-draft-08 --all-targets --exclude=openmls --exclude openmls-fuzz
