on: [push, pull_request]

name: Clippy

jobs:
  lint:
    runs-on: ubuntu-latest
    name: clippy
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Stable with clippy
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: clippy
      - name: Clippy errors & warnings
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --manifest-path openmls/Cargo.toml
