on: push

name: Cargo doc check
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: cargo doc
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --manifest-path openmls/Cargo.toml --message-format json
