name: Spot Fuzz

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: openmls

jobs:
  fuzz:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true
      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-fuzz
          version: latest
      - name: Fuzz Welcome
        run: cargo fuzz run welcome_decode -- -runs=100000
      - name: Fuzz MLSCiphertext
        run: cargo fuzz run mls_ciphertext_decode -- -runs=100000
      - name: Fuzz MLSPlaintext
        run: cargo fuzz run mls_plaintext_decode -- -runs=100000
      - name: Fuzz Proposal
        run: cargo fuzz run proposal_decode -- -runs=100000
