# TODO #1149: Re-activate this workflow.
#name: Interop Client Build
#
#on:
#  push:
#    branches:
#      - main
#  pull_request:
#    branches:
#      - main
#  workflow_dispatch:
#
#concurrency:
#  group: ${{ github.workflow }}-${{ github.ref }}
#  cancel-in-progress: true
#
#env:
#  CARGO_TERM_COLOR: always
#
#defaults:
#  run:
#    working-directory: interop_client
#
#jobs:
#  tests:
#    runs-on: ubuntu-latest
#    strategy:
#      fail-fast: false
#    steps:
#      - uses: actions/checkout@v2
#      - name: Run interop client test script
#        run: ./test_with_runner.py
