name: Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        mode:
          - debug
          - release
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: i686-pc-windows-msvc, i686-unknown-linux-gnu, wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@v2
      - uses: baptiste0928/cargo-install@v3
        # we only test wasm bindings on ubuntu-latest
        if: matrix.os == 'ubuntu-latest'
        with:
          crate: wasm-bindgen-cli

      - name: Toggle rustc mode
        if: matrix.os != 'windows-latest'
        run: |
          if [ ${{ matrix.mode }} == debug ]; then
            echo "TEST_MODE=" >> $GITHUB_ENV
          else
            echo "TEST_MODE=--release" >> $GITHUB_ENV
          fi

      - name: Tests Wasm32 on linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          export CARGO_TARGET_WASM32_UNKNOWN_UNKNOWN_RUNNER=$HOME/.cargo-install/wasm-bindgen-cli/bin/wasm-bindgen-test-runner
          cargo test -p openmls -vv --target wasm32-unknown-unknown -F js,js-test
