name: Tests & Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: openmls

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup MacOS
        if: matrix.os == 'macos-latest'
        run: |
          sudo rm -Rf /Library/Developer/CommandLineTools/SDKs/*
          sudo xcode-select -s /Applications/Xcode_12.4.app
          rustup target install aarch64-apple-darwin
          rustup target install aarch64-apple-ios
      - name: Tests
        run: cargo test --verbose
      - name: Build w/ Evercrypt
        run: cargo build --release --verbose --no-default-features features="evercrypt-backend"
      - name: Apple Silicon Build
        if: matrix.os == 'macos-latest'
        run: |
          cargo build --target aarch64-apple-darwin --tests --verbose
          cargo build --release --target aarch64-apple-darwin --tests --verbose
      - name: iOS build
        if: matrix.os == 'macos-latest'
        run: |
          cargo build --target aarch64-apple-ios --tests --verbose
          cargo build --release --target aarch64-apple-ios --tests --verbose
  cross-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # 32-bit Linux
          - target: i686-unknown-linux-gnu
            rust: stable
            deps: sudo apt update && sudo apt install gcc-multilib
          # wasm
          - target: wasm32-unknown-unknown
            rust: stable
          # ARM64 Android
          - target: aarch64-linux-android
            rust: stable
          # ARM64 iOS
          - target: aarch64-apple-ios
            rust: stable
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
          profile: minimal
          override: true
      - run: ${{ matrix.deps }}
      - run: cargo build --target ${{ matrix.target }} --no-default-features --features="rust-crypto"
      - run: cargo build --target ${{ matrix.target }} --release --no-default-features --features="rust-crypto"
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Stable with rustfmt and clippy
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
      - name: Clippy warnings
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --manifest-path openmls/Cargo.toml
      - name: Cargo fmt
        run: cargo fmt -- --check
