name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: openmls

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Tests debug build
        run: |
          cargo test --verbose
      - name: Tests release build
        run: |
          cargo test --verbose --release
        # Test 32 bit builds on windows
      - name: Install rust target
        if: matrix.os == 'windows-latest'
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: i686-pc-windows-msvc
      - name: Tests 32bit windows debug & release build
        if: matrix.os == 'windows-latest'
        run: |
          cargo test --verbose --target i686-pc-windows-msvc
          cargo test --verbose --release --target i686-pc-windows-msvc
        # Test 32 bit builds on linux
      - name: Install rust target
        if: matrix.os == 'ubuntu-latest'
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: i686-unknown-linux-gnu
      - name: Tests 32bit linux debug & release build
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update && sudo apt install gcc-multilib
          cargo test --verbose --target i686-unknown-linux-gnu
          cargo test --verbose --release --target i686-unknown-linux-gnu
